.Nav {
    background-color: #333333;
    display: flex;
    justify-content: center;
}

.Nav a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #e7e7e7;
    padding: 1rem;
}

.Nav a.active {
    color: tomato;
}